.row {
  position: relative;
}
.row h2 {
  padding-top: 10px;
  margin-left: 20px;
}
.row-contents {
  overflow: hidden;
  margin-top: 20px;
 
}
.scroll-ref {
  overflow-x: hidden;
  overflow-y: hidden;
  
}
.scroll-ref::-webkit-scrollbar {
  display: none;
}
.row-items {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 1s ease;
}

.overlay {
  position: absolute;
  width: 267px;
  font-size: 20px;
  top: 0;
}

.row-content {
  height: 150px;
  
}

img {
  border-radius: 0.3rem;
  height: 100%;
  margin-right: 10px;
  object-fit: contain;
  transition: 250ms;
}

.row-contents #left-right{
  width: 50px;
  background-color: #0000006d;
  color: #fff;
  position: absolute;
  z-index: 99;
  bottom: 0;
  height: 150px;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}
.fa-chevron-right{
  right: 0;
}
.fa-chevron-left {
  left: 0;
}

